body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
header{position: fixed;width: 100%;top: 0;left:0; margin: 0; padding: 0;}
main{
    margin: 0 auto; 
    width: 80%;
    background: rgba(0,0,0,0.4);
    padding: 1rem;
}
h1{
    background: linear-gradient(darkseagreen,limegreen );
    color: aliceblue;
    text-align: center;
    margin: 0;
    opacity: .9;
}
nav{
    background: linear-gradient(limegreen, lightgreen);
    color: white;
    width: 100%;
    border-radius: 0 0 8px 8px;
    opacity: .9;
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
li{list-style-type: none; margin: 0 1rem;}
nav a, li{
    color: aliceblue;
    text-decoration: none;
    transition: .5s;
}
nav li, nav a{
    width: 100%;
    height: 2em;
    text-align: center;
    line-height: 2em;
    transition: .5s;
}
nav li:hover{
    background: linear-gradient(darkblue, steelblue);
    cursor: pointer;
    border-radius: 7px;
    transform: scale(1.1);
}
h2{
    text-align: center; 
    background: linear-gradient(lightseagreen, seagreen); 
    margin: 3rem 0;
    border-radius: 5px;
}
h3{margin:auto 2rem}
#appDisplay{display: block;}
footer{
    position: fixed;
    bottom: -1em;
    right: 0;
    width: 100%;
    opacity: .8;
    margin: 0;
} 
#copyright{
    display: flex;
    justify-content: center;
    padding: 0 1em;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px white;
    color: white;
    background: linear-gradient(black, gray);
}
footer a{color: gold; text-decoration: none;}

/*******************Video Background**********************/
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../img/poster1.jpg') fixed no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
video #bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url("..//img/poster1.jpg") fixed no-repeat;
    background-size: cover;
}